.Title {
  text-transform: uppercase;
  font-size: 2rem;
  color: white;
  position: relative;
  padding-bottom: 4.5px;
  letter-spacing: 1rem;
  &::before {
    content: "";
    bottom: 0;
    position: absolute;
    left: 0;
    background-color: #037fff;
    width: 10rem;
    height: 0.5rem;
    border-radius: 50px;
  }
  &::after {
    content: "";
    bottom: 0;
    position: absolute;
    left: 0;
    background-color: #037308;
    width: 5rem;
    height: 0.5rem;
    border-radius: 50px;
  }
  span {
    position: absolute;
    top: 0%;
    left: 0;
    font-size: 4.56rem;
    opacity: 0.05;
  }
}
